li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235);
  border-radius: 20px;
}